* {
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    margin: 0;
}

body {
    background: black;
    overflow: hidden;
}

canvas {
    image-rendering: pixelated;
    width: 100vw;
    box-sizing: border-box;
}

.buttons {
    width: 100px;
    position: absolute;
    top: 0;
    right: 0;
    button {
        display: block;
        width: 100%;
    }
}

.fps {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    font-family: Consolas, Monaco, "Courier New", monospace;
    color: greenyellow;
    padding: 2px;
}